name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: ${{format('Rust {0}', matrix.rust)}}
    strategy:
      fail-fast: false
      matrix:
        rust: [stable, 1.68.2]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{matrix.rust}}
    - uses: dtolnay/install@cargo-expand
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
